{% extends "djangoapp/base.html" %}

{% block title %}Add reveiw{% endblock %}

{% block content %}
<form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
    {% csrf_token %}
    <div class="container">
        <h1>Add review</h1>
        <hr>

        <div class="form-group">
            <label for="content">
                <b>Review</b>
            </label>
            <textarea
                class="form-control"
                id="content"
                name="content"
                rows="2"
                placeholder="Enter review"
                required
            ></textarea>
        </div>

        <div class="form-group form-check">
            <input
                class="form-check-input"
                type="checkbox"
                name="purchasecheck"
                id="purchasecheck"
            >
            <label for="purchasecheck">
                Has purchased the car from {{ dealer.full_name }}?
            </label>
        </div>

        <div class="form-group">
            <label for="car">
                <b>Car</b>
            </label>
            <select
                name="car"
                id="car"
                class="form-control"
                required
                disabled
            >
                <option value=""> - select car - </option>
                {% for car in cars %}
                    <option value="{{ car.id }}">{{ car.name }}-{{ car.make.name }}-{{ car.year|date:"Y" }}</option>
                {% endfor %}
           </select>
        </div>

        <div class="form-group">
            <label for="purchasedate">
                <b>Purchase date</b>
            </label>
            <input
                class="date-own form-control"
                type="text"
                name="purchasedate"
                id="purchasedate"
                placeholder="Enter purchase date"
                required
                disabled
            >
        </div>

        {% if message %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endif %}

        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script type="text/javascript">
    $('.date-own').datepicker({
        format: 'mm/dd/yyyy'
    });

    $('#purchasecheck').click(function () {
        $('#car, #purchasedate').prop('disabled', !this.checked);
    });
</script>
{% endblock %}
